@{
    ViewBag.Title = "O aplikaciji";
}
<h2>@ViewBag.Title.</h2>


<p>Ova aplikacija napravljena je u sklopu seminara za predmet Objektno oblikovanje na Diplomskom studiju Fakulteta elektrotehnike i računarstva Sveučilišta u Zagrebu.</p>
<p>Tim: "Patke"</p>
<p>Članovi: </p>
<p>-Zvonimir Landeka</p>
<p>-Ivan Marlović</p>
<p>-Matko Mesar</p>
