@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Veterinarska stanica</h1>
    <p class="lead">Dobrodošli na našu stranicu za veterinarske usluge.</p>
    <p>Za početak se prijavite, registrirajte ili pročitajte više o aplikaciji.</p>
</div>

